<footer>
    <div class="footer-top">
        <div class="wrapper">
            <h2>JOIN THE MOVEMENT!</h2>
            <span>Get the Latest News & Updates</span>
            <form action="" class="footer-top__input">
                <input type="text" id="sub-email" placeholder="Enter your email here">
                <input type="submit" value="SUBSCRIBE">
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <form action="">
                <h4 class="fw-6">Contact Us</h4>
                <p class="fs-08x">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click
                    “Edit Text” or double click me to add your own content and make changes to the font. Feel free to
                    drag and drop me anywhere you like on your page.</p>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="tel" placeholder="Phone">
                <input type="submit" value="SUBMIT">
            </form>
            <div class="contacts">
                <div class="contacts__direct">
                    <div class="contacts__box">
                        <p>ADDRESS</p>
                        <p class="fs-08x">500 Terry Francois St.<br>San Francisco, CA 94158</p>
                    </div>
                    <div class="contacts__box">
                        <p>PHONE</p>
                        <p class="fs-08x">123-456-7890</p>
                    </div>
                    <div class="contacts__box">
                        <p>EMAIL</p>
                        <p class="fs-08x">info@mysite.com</p>
                    </div>
                </div>
                <div class="contacts__social">
                    <div class="social__icon">
                        <a href="">
                            <img src="assets/images/facebook.svg" alt="">
                            <span class="fs-08x">Facebook</span>
                        </a>
                    </div>
                    <div class="social__icon">
                        <a href="">
                            <img src="assets/images/twitter.svg" alt="">
                            <span class="fs-08x">Twitter</span>
                        </a>
                    </div>
                    <div class="social__icon">
                        <a href="">
                            <img src="assets/images/instagram.svg" alt="">
                            <span class="fs-08x">Instagram</span>
                        </a>
                    </div>
                    <div class="social__icon">
                        <a href="">
                            <img src="assets/images//youtube.svg" alt="">
                            <span class="fs-08x">Youtube</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <span class="fs-08x">© 2023 by Last Chance.</span>
                    <a href="#hero" class="fs-08x">Back to Top</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>