<header>
    <div class="top-nav">
        <div class="logo-container">
            <a class="logo" href="" class="btn">
                <img src="assets/images/emoji_nature-24px.svg" class="logo" alt="Logo">
                <span>LAST CHANCE</span>
            </a>
        </div>
        <nav class="btn-container">
            <div class="btn bkg1 link--inactive">
                <span>Donate Now</span>
            </div>
            <a href="take-action.html" class="btn bkg2">
                <span>Take Action</span>
            </a>
            <div class="btn bkg-dark menu" data-toggle="menu">
                <span>Menu</span>
                <img src="assets/images/menu-24px.svg" class="white-svg" alt="Menu button">
            </div>
        </nav>
    </div>
    <nav class="nav-menu bkg-dark hidden" data-menu>
    <ul>
        <li>
            <a href="" class="link--inactive">About</a>
        </li>
        <li>
            <a href="" class="link--inactive">What we do</a>
        </li>
        <li>
            <a href="" class="link--inactive">Who we are</a>
        </li>
        <li>
            <a href="" class="link--inactive">News</a>
        </li>
        <li>
            <a href="" class="link--inactive">Contact</a>
        </li>
    </ul>
</nav>
</header>

