<header>
    <a class="logo" href="" class="btn">
        <img src="assets/images/emoji_nature-24px.svg" class="logo" alt="Logo">
        <span>LAST CHANCE</span>
    </a>
    <nav class="btn-container">
        <div class="btn bkg1">
            <span>Donate Now</span>
        </div>
        <a href="" class="btn bkg2">
            <span>Take Action</span>
        </a>
        <div class="btn bkg-dark">
            <span>Menu</span>
            <img src="assets/images/menu-24px.svg" class="white-svg" alt="Menu button">
        </div>
    </nav>
</header>