<!-- https://www.wix.com/demone2/wildlife-con/take-action -->
{{> partials/head}}
<body id="take-action">
    {{> partials/header}}
    <main>
        <section class="hero" id="hero" data-type="background" data-speed="5">
            <h1 class="hero__heading">GET INVOLVED<br><span class="accent1">TODAY!</span></h1>
            <p class="hero__par">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
        </section>
        <section class="projects">
            <div class="projects__container">
                <div class="projects__wrapper">
                    <h2>UPCOMING PROJECTS.</h2>
                    <div>
                        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page.</p>
                        <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide.</p>
                    </div>
                </div>
                <div class="projects__wrapper">
                    <div class="projects__tile">
                        <h3>Work with Elephants</h3>
                        <span>Southeast Asia</span>
                        <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                    </div>
                    <div class="projects__tile">
                        <h3>Local Animal Rescue</h3>
                        <span>Central America</span>
                        <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                    </div>
                    <div class="projects__tile">
                        <h3>Ocean Cleanups</h3>
                        <span>North America</span>
                        <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="signup">
            <form class="signup__container" action="post">
                <div class="signup__wrapper">
                    <h2>MAKE AN IMPACT.</h2>
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                </div>
                <div class="signup__wrapper">
                    <div class="signup__content">
                        <input type="text" placeholder="Name" id="name">
                        <input type="email" placeholder="Email" id="email">
                        <input type="text" placeholder="Country" id="country">
                    </div>
                    <div class="signup__content">
                        <span>How can you help?</span>
                        <input type="radio" name="one-time" id="one-time">
                        <label for="one-time">
                            <div class="checkmark"></div>
                            <span>One-time volunteer</span>
                        </label>
                        <input type="radio" name="one-time" id="join">
                        <label for="join">
                            <div class="checkmark"></div>
                            <span>Join a volunteer program</span>
                        </label>
                        <input type="radio" name="one-time" id="host">
                        <label for="host">
                            <div class="checkmark"></div>
                            <span>Host an event</span>
                        </label>                    
                    </div>
                </div>
                <div class="signup__content">
                    <input type="text" placeholder="Tell us which project you’re interested in" id="">
                    <input type="submit" value="SUBMIT">
                </div>
            </form>
        </section>
    </main>
    {{> partials/footer}}
</body>
<script src="script.js"></script>
</html>