// brand colors, layouts and styles common to several pages

:root {
    --color1:rgba(241, 86, 42, 1);
    --color2: rgba(248, 152, 37, 1);
    --color3: rgba(126, 182, 228, 1);
    --dark: rgba(0, 0, 0, 1);
    --light: rgba(255, 255, 255, 1);
}

.accent1 {
    color: var(--color1);
}

body {
    --header-height: 77px;
}

.btn {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.bkg1 {
    background-color: var(--color1);
    color: var(--light);
}

.bkg2 {
    background-color: var(--color2);
    color: var(--light);
}

.bkg3 {
    background-color: var(--color3);
    color: var(--light);
}

.bkg-dark {
    background-color: var(--dark);
    color: var(--light);
}

.white-svg {
    filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(101%) contrast(108%)
}

body {
    background-color: rgb(226, 230, 233);
    padding-top: var(--header-height);
    margin: 0;
}