// index page layout

#index {
    .hero {
        height: 600px;
        background-image: url('../images/leopard_1900x800.webp');
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-rows: min-content min-content min-content min-content 1fr;
        position: relative;

        >:nth-child(1){
            grid-column-start: 2;
            grid-row-start: 1;
        }
        >:nth-child(2){
            grid-column-start: 2;
            grid-row-start: 2;
        }
        >:nth-child(3){
            grid-column-start: 2;
            grid-row-start: 3;
        }

        h1 {
            &::before {
                content: "";
                display: inline-block;
                height: 30px;
                width: 141px;
                position: absolute;
                background-color: var(--color1);
                top: .5em;
            }
        }

        p {
            width: 353px;
            min-height: 96px;
        }

        a {
            height: 76px;
            width: 469px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
        }
    }

    .stats {
        @extend %flex-row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: var(--light);
        padding: 70px;

        .stats__card {
            // border: 2px solid green;
            min-width: 250px;
            max-width: 300px;
            flex: 1 1 20%;
            
            p {
                font-weight: 600;
            }
            span {
                color: var(--color1);
                font-weight: 700;
                
            }
        }
    }

    .articles {

        p, a {
            font-size: .8em;
        }

        p {
            margin-right: 2em;
        }

        h3 {
            font-size: 2em;
            font-weight: 600;
        }

        h2 {
            margin-top: 0;
            padding-top: 0;
            font-weight: 800;
        }
      
        article {
            padding: 50px;
            box-sizing: border-box;
            @extend %flex-row;
            justify-content: center;

            &>* {
                width:70%;
            }

            &:not(.wide) {
                height: 400px;
            }         
        }

        .articles__bot {
            @extend %flex-row;
            align-items: stretch;
            
            .articles__bot__left {
                
                @extend %flex-col;
                align-items: flex-end;
                justify-content: flex-end;
                width: calc(100%/5*2);
                
                article{
                    width: 50%;
                    &>* {
                        max-width: 200px;
                    }
                }
            }


            .articles__bot__right {
                
                // background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: 70%;
                background-position: bottom right;
                @extend %flex-col;
                width: calc(100%/5*3);

                article:not(.wide){
                    width: calc(100% / 3);
                }

                article.wide {
                    width: 100%;
                    &>* {
                        max-width: 420px;
                    }
                }
            }
        }        
    }

    .articles2 {
        display: grid;
        grid-template-rows: repeat(3, 1fr) ;
        grid-template-columns: repeat(5, 1fr);

        &__tile1 {
            grid-column: 1 / 3;
            grid-row: 1 / 1 ;
        }

        &__tile2 {
            grid-column: 4 / 6;
            grid-row: 1 / 1 ; 
        }

        &__tile3 {
            grid-row: 2 / 2;
            grid-column: 3 / 6;
        }

        &__tile4 {
            grid-row: 3 / 3;
            grid-column: 2 / 2;
        }

        &__tile5 {
            grid-row: 3 / 3;
            grid-column: 3 / 3;
        }

        &__background1 {
            grid-row: 1 / 1;
            grid-column: 3 / 3;
            background-image: url("../images/badger_full.webp");
            background-size: 100%;
            background-position: center;
        }

        &__background2 {
            grid-row: 2/4;
            grid-column: 1/3;
            background-image: url("../images/lions_763x960.webp");
            background-position: center;
        }

        &__background3 {
            grid-row: 3/3;
            grid-column: 4/6;
            background-image: url("../images/elephants_704x480.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        p, a {
            font-size: .8em;
        }

        p {
            margin-right: 2em;
        }

        h3 {
            font-size: 2em;
            font-weight: 600;
        }

        h2 {
            margin-top: 0;
            padding-top: 0;
            font-weight: 800;
        } 
    }

    .news{
        @extend %flex-row;
        justify-content: center;
        background-color: white;


        &>.col {
            max-width: 950px;
            padding: 20px;

            .row {
                margin-bottom: 40px;
                align-items: stretch;
                justify-content: space-between;
            }
        }

        .news__card {
            border: 1px solid rgba(232,230,230,0.75);
            flex: 0 0 292px;
            overflow: hidden;
            @extend %flex-col;
            justify-content: space-between;

            &:not(:first-child) {
                margin-left: 32px;
            }
            img {
                max-width: 100%;
            }

            .news__card__content {
                padding: 24px;

                h5 {
                    margin: 10px 0;
                    cursor: pointer;
                    &:hover {
                        color: var(--color1)
                    }
                }
    
                p {
                    font-weight: 200;
                    margin: 10px 0;
                }
            }
            
            .news__card__footer {
                position: relative;             

                .footer__content {
                    font-size: .8rem;
                    font-weight: 200;
                    @extend %flex-row;
                    justify-content: space-between;
                    padding: 1em;
                }

                span {
                    font-size: .8rem;
                    font-weight: 200;
                }

                &::before {
                    content: "";
                    position: absolute;
                    border-bottom: 1px solid rgb(204, 204, 204);
                    width: 90%;
                    left: 5%;
                    top: 0;
                }

                .views {
                    position: relative;
                    padding-left: 2em;
                
                    &:before {
                        content:"";
                        display: block;
                        position: absolute;
                        left:0;
                        bottom:0;
                        background-image: url("../icons/eye-24px.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        height: 100%;
                        width: 1.5em;
                    }
                }

                .like {
                    @extend %flex-row;

                    img {
                        width: 1.5em;
                        margin-left: .5em;
                        cursor: pointer;
                    }
                }
                
            }
            
        }

    }
}