// elements and styles common to several pages, like buttons, radio buttons, ect...

.btn-link-light {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid var(--light);
    color: var(--light);
    text-decoration: none;

    &:hover {
        background-color: var(--light);
        color: var(--dark);
    }  
}
.btn-link-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid var(--dark);
    color: var(--dark);
    text-decoration: none;

    &:hover {
        background-color: var(--dark);
        color: var(--light);
    }
}