$color1:rgba(241, 86, 42, 1);
$color2: rgba(248, 152, 37, 1);
$color3: rgba(126, 182, 228, 1);
$dark: rgba(0, 0, 0, 1);
$light: rgba(255, 255, 255, 1);

$header-height: 77px;
$content-frame: 950px;

$break-point1: 1300px;
$break-point2: 900px;
$break-point3: 650px;
$break-point4: 500px;