footer {
    .top {
        background-color: var(--color1);
        display: flex;
        justify-content: center;

        .content {
            flex: 1 1 900px;
            max-width: 900px;
            @extend %flex-col;

            h2 {
                color: var(--light);
                font-weight: 600;
                align-self: center;
            }

            span {
                color: var(--light);
                font-weight: 600;
                align-self: center;
            }

            form {
                bottom: 0;
                transform: translateY(50%);

                input[type=text] {
                    flex: 1 1 300px;
                    background-color: var(--dark);
                    color: var(--color1);
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    border: none;
                    padding: 30px;
                    outline: none;
                    border: 1px solid var(--dark);
        
                    &::placeholder{
                        color: var(--light);
                        font-family: 'Poppins', sans-serif;
                        font-weight: 600;
                    }
        
                }
        
                input[type=submit] {
                    width: 190px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    padding: 30px;
                    background-color: var(--light);
                    border: 1px solid var(--dark);
                    outline: none;
                    cursor: pointer;
                    transition: .3s ease-in-out;

                    &:hover{
                        background-color: var(--color2);
                        color: var(--light);
                    }
                }
            }

        }     
    }

    .bottom {
        background-color: var(--light);
        padding: 70px 0;
        @extend %flex-row;  
        
        &__container {
            @extend %flex-row;
            flex-grow: 1;
            align-items: stretch;
            justify-content: space-evenly;
        }

        form {
            max-width: 500px;
            margin: 40px;
            @extend %flex-col;

            input[type=text], input[type=email], input[type=tel] {
                padding: 1em;
                margin-bottom: 1em;
                border-color: transparent transparent black transparent;
                border-width: 1px;
                outline: none;
                &:hover {
                    border-bottom-color: var(--color1);
                }
            }

            input[type=submit] {
                background-color: transparent;
                border: none;
                outline: none;
                align-self: flex-end;
                transition: .3s ease-in-out;
                cursor: pointer;
                &:hover {
                    color: var(--color1);
                }
            };
        }

        .contacts {
            padding-top: 2rem;
            margin: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .contacts__social {
                @extend %flex-row;
                justify-content: space-between;

                .social__icon {
                    border: 1px solid black;
                    height: 100px;
                    width: 100px;
                    @extend %flex-row;
                    justify-content: center;
                    margin: 1em;

                    img {
                        height: 50px
                    }

                    a {
                        @extend %flex-col;
                        align-items: center;
                        text-decoration: none;
                        color:inherit;
                        transition: .3s ease-in-out;

                        &:hover {
                            color: var(--color1);
                        }
                    }
                }
            }

            .contacts__direct{
                @extend %flex-row;
                justify-content: space-between;
                align-items: flex-start;

                .contacts__box {
                    margin: 1em;
                }
            }

            .row {
                justify-content: space-between;

                a {
                    color: inherit;
                }
            }
        }

    }
}